body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #14573e;
  overflow: hidden;
}

.faculty-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.faculty-desktop-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1;
}

.faculty-left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.faculty-left-panel {
  width: 350px;
  height: 650px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  padding: 0rem 1rem 1rem 1rem;
}

.faculty-courses-header {
  font-size: 24px;
}

.faculty-course {
  margin: 0.5rem 0;
  cursor: pointer;
  color: #fc9432;
  background: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 0.5rem;
  border: none;
}

.faculty-selected-course {
  background-color: #f9b576;
  color: #ffffff;
}

.faculty-course:hover {
  color: #e57c0e;
}

.faculty-logout-button {
  margin-top: 1rem;
  font-size: 16px;
  cursor: pointer;
}

.faculty-right-panel {
  flex: 1;
  text-align: left;
  color: #fff;
  height: 100%;
}

.faculty-default-panel {
  background-color: #fff;
  color: #000;
  padding: 1rem;
  border-radius: 8px;
  width: 400px;
  margin: 10px;
  text-align: center;
  height: auto;
  flex-shrink: 0;
  overflow-y: auto;
}

.faculty-survey-panel {
  background-color: #fff;
  color: #000;
  padding: 1rem;
  border-radius: 8px;
  width: 99%;
  margin-top: 10px;
  position: relative;
  text-align: center;
  height: 45vw;
  overflow-y: auto;
}

.faculty-survey-panel h2 {
  margin: 0;
}

.faculty-close-button {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.faculty-question-box {
  position: relative;
  border: 2px dashed #333;
  background-color: rgb(245, 245, 245);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 4px;
  text-align: left;
}

.delete-question-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  color: red;
}

.faculty-question-box p {
  font-weight: bold;
}

.faculty-question-box textarea {
  width: 100%;
  min-height: 60px;
  margin-top: 0.5rem;
  resize: vertical;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  border-width: 1;
}

.faculty-type-selector select {
  background-color: #ffffff;
  color: #000;
  padding: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.faculty-type-selector label {
  margin-right: 0.5rem;
}

.faculty-add-question {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  border: 2px dashed #333;
  border-radius: 4px;
  color: #333;
  font-weight: bold;
}

.faculty-add-question:hover {
  background-color: #f9f9f9;
}

.faculty-survey-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.faculty-survey-buttons button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #14573e;
  color: #fff;
}

.faculty-survey-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  height: 45vw;
}

.faculty-survey-container h2 {
  font-size: 20px;
}

.survey-answers-button {
  margin-top: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #14573e;
  color: #fff;
}

.submitted-answers-panel {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  margin: 10px;
  text-align: left;
  width: 400px;
  height: 35vw;
  display: flex;
  flex-direction: column;
}

.submitted-answers-panel h3 {
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: #ddd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.submitted-answers-scroll {
  overflow-y: auto;
  flex: 1;
  padding: 0 1rem 1rem 1rem;
}

.submission-header {
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #ddd;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  text-align: center;
}

.submission-details {
  background-color: transparent;
  padding-left: 1rem;
  padding-right: 1rem;
}

.submission-question {
  font-weight: bold;
  margin: 0.25rem 0;
  background-color: #f3f3f3;
  border-radius: 8px;
  padding: 0.25rem;
}

.submission-answer {
  margin: 0.25rem 0 0.5rem 1rem;
  font-style: italic;
}
